body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/cream_dust.png");
  background-size: cover;
  background-attachment: fixed;
  color: #3a1d0b;
  font-family: "Garamond", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
